* {
    margin: 0;
    padding: 0;
}

.main {
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main h1 {
    margin-top: 2rem;
    color: white;
    margin-bottom: 2rem;
}

.span {
    margin-right: 5rem;
    color: white;
    position: absolute;
    right: 0px;
}

.spn {
    color: white;
    height: 1rem;
    border-radius: 100%;
    background-color: black;
    cursor: pointer;
}

.hide {
    display: none;
}

.spn:hover + .hide {
    display: block;
    color: white;
    background-color: gray;
}

.main-b {
    height: 80vh;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border-radius: 1rem;
    flex-direction: column;
}

.main-c {
    display: flex;
    flex-direction: row;
    background-color: rgb(238, 233, 233);
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 100%;
    gap: 0.5rem;
}

.boxsetx {
    background-color: rgb(40, 124, 221);
}

.boxset2 {
    display: flex;
    background-color: rgb(40, 124, 221);
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 100%;
    border-radius: 0rem 2rem 2rem 0rem;
}

.box2 h5 {
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    background-color: gray;
    text-align: center;
}

.boxset2 h5 {
    background-color: white;
}

.boxsetx h5 {
    background-color: white;
}

.text {
    text-align: center;
}

.text p {
    margin: 0.5rem 3rem 0rem 3rem;
}

.fr h3 {
    padding: 1% 10% 0% 10%;
    color: rgb(140, 216, 246);
}

.fr p {
    padding: 0.2% 10% 0% 10%;
    font-size: smaller;
}

.form-group {
    display: flex;
    flex-direction: row;
    padding: 0% 10% 0% 10%;
    gap: 0.5rem;
}

.form1 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 50%;
}

.form1 input {
    height: 2rem;
    padding-left: 0.5rem;
}

.text-agreements {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.text-agreements p {
    border: gray 0.1rem solid;
    height: 2rem;
    width: 90%;
    margin: 0% 1% 0% 10%;
    padding: 0% 0% 0% 0%;
}

.text-agreements h2 {
    border: gray 0.1rem solid;
    height: 2rem;
    width: 8%;
    margin-right: 10%;
    color: white;
    background-color: rgb(53, 188, 228);
    font-size: x-large;
    border: none;
    cursor: pointer;
}

.fr h2 {
    text-align: center;
}

.lower {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    position: relative;
    bottom: 0px;
}

.lower p {
    padding-right: 20rem;
    cursor: pointer;
}

.btns {
    display: flex;
    gap: 0.5rem;
}

.btn1 {
    height: 2rem;
    width: 8rem;
    background-color: rgb(0, 179, 255);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 0.5rem;
}

.btnx2 {
    background-color: rgb(216, 210, 210);
}

/* Responsive Media Queries */

@media only screen and (max-width: 1024px) {
    .main-b {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .main h1 {
        font-size: medium;
    }
    .main-b {
        height: auto;
        width: 90%;
    }
    .form-group {
        flex-direction: column;
    }
    .form1 input {
        height: 1.5rem;
        width: 100%;
    }
    .lower p {
        padding-right: 10rem;
    }
}

@media only screen and (max-width: 468px) {
    .main h1 {
        font-size: small;
    }
    .form1 input {
        height: 1rem;
        width: 100%;
    }
}
